/* Globals */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

h2 {
  font-size: 2.25em;
  text-align: center;
}

main {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* Profile */

.profile {
  display: grid;
  max-width: 960px;
  grid-template-rows: repeat(5, 105px);
  grid-template-columns: repeat(6, 160px);
  margin: auto;
  position: relative;
}

.profile figure {
  display: contents;
}

.profile h1,
.profile h2 {
  position: absolute;
  color: white;
}

.profile h1 {
  font-size: 4em;
  grid-column-start: 3;
  left: -71px;
}

.profile h2 {
  grid-column-start: 1;
  grid-row-start: 3;
  left: 59px;
  text-align: justify;
  top: 29px;
  background: rgba(114, 153, 254, 0.5);
  padding: 20px;
  line-height: 1.2em;
  border-radius: 10px;
}

/* About */

.about {
  background: #7299fe;
}

.about > h2 {
  color: #1d06a7;
}

.about > p {
  color: white;
  line-height: 1.5em;
  text-align: justify;
  padding: 0 20px;
  font-weight: normal;
}

.about > a {
  text-decoration: none;
    color: white;
    background: #D16FFF;
    font-size: 1.5em;
    padding: 25px 47px;
    display: inline-block;
    margin: 8px 0 22px 136px;
    border-radius: 15px;
}

/* Mis Skills */

.skills {
  background:#9122FF;
  padding-bottom:60px;
}

.skills h2 {
  color:#26CC4B;
}

.skills-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-wrapper > div {
  width:40%;
  margin-bottom:20px;
}

.skills-wrapper > div:nth-child(even) {
  margin-left:30px;
}

.skills-wrapper p {
  color:white;
  font-weight: normal;
}

.skills-wrapper > div > div {
  position:relative;
  background:white;
  padding:10px;
  border-radius:10px;
}

.skills-wrapper > div > div > div {
  position:absolute;
  background:#57EFF9;
  padding:10px;
  top:0;
  left:0;
  width:45%;
  border-radius: inherit;
}

/* Portafolio */

.portfolio {
  background: #FFD233;
  padding-bottom: 80px;
}

.portfolio h2 {
  color: #00AD84;
}

.portfolio-wrapper > figure {
  display: contents;
}

.portfolio-wrapper {
  display:flex;
  max-width:75%;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
}

.portfolio-wrapper > figure > img {
  margin:10px 10px;
}

/* Clientes */

.clients {
  background:#3F4E62;
  padding-bottom: 50px;
}

.clients-wrapper {
  display:flex;
  justify-content: center;
}

.clients-wrapper > figure {
  display:contents;
}

.clients-wrapper > figure > img {
  margin:10px;
}

/* Contacto */

.contact {
  background: #1687A0;
}

.contact > h2 {
  color:red;
}

.contact-wrapper-1, .contact-wrapper-2 {
  width:80%;
  margin:auto;
}

.contact-wrapper-1 {
  display:flex;
  flex-wrap: wrap;  
  justify-content: space-between;
}

.contact-wrapper-1 > label {
  display:contents;
}

.contact-wrapper-1 > label > input {
  width:49%;
  margin-bottom: 25px;
  padding:20px
}

.contact-wrapper-2 > label > textarea {
  width:100%;
}

.contact button {
  margin:auto;
  display:block;
  margin-top:30px;
  margin-bottom: 30px;
  padding:25px 40px;
  background:#233451;
  color:white;
}